/* Universal properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f5f9;
    width: 900px;
    height: 100vh;
    margin: auto;
}

.header {
    background-color: #0f172a;
    color: #ffffff;
    text-align: center;
    height: 80px;
    gap: 20px;
}

.title {
    font-size: 35px;
}

.subtitle {
    margin-top: 10px;
    font-size: 13px;
}

.content {
    background-color: #ffffff;
    width: 700px;
    margin-left: 100px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}

.section-title {
    font-size: 23px;
    color: #0f172a;
}

.text {
    font-size: 15px;
    color: #334155;
}

.image-carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.image {
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #0f172a;
    height: 30px;
    text-align: center;
    color: #ffffff;
}

.footer-text {
    font-size: 20px;
}