:root {
    --main-blue: #667eea;
    --main-purple: #764ba2;
    --main-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 80rem;
    height: 80rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    display: flex;
    flex-direction:row;
    row-gap: gap;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 8rem;
    height: 8rem;
    background-color: #667eea;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
}

/* CHALLENGE */
