:root {
    --color-1: #f4f4f4;
    --color-2: #ef4444;
    --color-3: #f59e0b;
    --color-4: #10bc98;
    --color-5: #3b02f6;
    --color-6: #000000;
    --color-7: #59fff9;
    --color-8: #7c3aed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

    body {
        background-color: var(--color-6);
    }

    .box { 
        width: 30rem;
        height: 10rem;
    }

    .box-1 {
        background-color: var(--color-1);
    }

    .box-2 {
        background-color: var(--color-2);
    }

    .box-3 {
        background-color: var(--color-3);
    }

    .box-4 {
        background-color: var(--color-4);
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    
    body {
        background-color: var(--color-1);
    }

    .container {
        flex-direction: row;
        row-gap: gap;
    }

    .box {
        width: 20rem;
        height: 20rem;
    }

    .box-1 {
        background-color: var(--color-5);
    }

    .box-2 {
        background-color: var(--color-8);
    }

    .box-3 {
        background-color: var(--color-3);
    }

    .box-4 {
        background-color: var(--color-7);
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {

    body {
        background-color: var(--color-2);
    }

    .container {
        flex-direction: row;
        row-gap: gap;
    }

    .box {
        width: 25rem;
        height: 25rem;
    }

    .box-1 {
        background-color: var(--color-1);
    }

    .box-2 {
        background-color: var(--color-3);
    }

    .box-3 {
        background-color: var(--color-5);
    }

    .box-4 {
        background-color: var(--color-8);
    }
}

@media screen and (min-width: 1201px) {

    body {
        background-color: var(--color-4);
    }

    .container {
        flex-direction: row;
        row-gap: gap;
    }

    .box {
        width: 30rem;
        height: 30rem;
    }

    .box-1 {
        background-color: var(--color-8);
    }

    .box-2 {
        background-color: var(--color-2);
    }

    .box-3 {
        background-color: var(--color-1);
    }

    .box-4 {
        background-color: var(--color-3);
    }
}